* {
 font-family: helvetica, sans-serif;   
}

a {
 text-decoration: none;
 color: #555;
 
}

li {
 margin: 10px;
}



.internal {
 display: inline;
 text-decoration: none;
 color: #F60;
padding-right: 50px;
}

.external {
 text-decoration: none;
 color: #A0B;
padding-right: 50px;
}
